@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --side-bar__width:300px;
  --site-content-width: 1620px;
}

body{
  background-color:#EEF3FA;
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 탑버튼 */
.return-top{
  width:100px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* 왼쪽메뉴바 */
.side-bar {
  position: fixed;
  top:0;
  left:0;
  width:var(--side-bar__width);
  height: 100%;
  background-color:#EEF3FA;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.418);
  z-index: 100;
}

/* 로고 */
.logo{
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* 검색어 */
.bn_1_1{
  width: 224px;
  margin-left: 38px;
}

.site-wrap {
  margin-left:var(--side-bar__width);
}

.con-min-width {
  min-width: var(--site-content-width);
}

.con {
  width: var(--site-content-width);
}

/* 탑메뉴 */
.top-bar {
  position: absolute;
  top:0;
  left:var(--side-bar__width);
  left: 0;
  right:80px;
  height:50px;
  z-index: 50;
}

.top-bar > div {
  display: flex;
  justify-content: end;
  margin-top: 40px;
}

.menu_txt {
  margin-top: 30px;
}

.menu_txt > li{
display: flex;
align-items: center;
padding-bottom: 20px;
padding-left: 40px;
}

.menu_txt > li > img {
  margin-right: 15px;
}

.bn_1_2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  top:auto;
}

.foot{
  display: flex;
  justify-content: center;
  margin-top: 241px;
  margin-bottom: 40px;
}